body {
	margin: 5em auto;
	max-width: 35em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

pre {
	overflow: hidden;
	font-size: small;
	padding: 1em;
	display: block;
}

header {
	margin: 0 auto;
	font-size: small;
}

footer {
	text-align: right;
	font-style: italic;
	font-size: small;
}
